.form-style-5{
	max-width: 30rem;
	margin: 1rem auto;
	margin-top: 0px;
	padding: 1rem;
	padding-top: 7rem;
	border: none;
}

.form-style-5 legend {
	font-size: 1.4em;
	margin-bottom: 1rem;
}
.form-style-5 label {
	display: block;
	margin-bottom: 0.5rem;
}
.form-style-5 input[type="text"],
.form-style-5 input[type="email"],
.form-style-5 input[type="number"]
{
	border: none;
	border-radius: 0.3rem;
	font-size: 15px;
	padding: 0.6rem;
	width: 100%;
	background-color: #e8eeef;
	color:black;
	margin-bottom: 2rem;
}

.form-style-5 input[type="submit"]
{
	display: block;
	color: black;
	border: none;
	padding: 0.6rem 0.7rem;
	border-radius: 0.25rem;
	background-color: #F2C965;
	margin: 0 auto;
	font-size: 18px;
	text-align: center;
	font-style: normal;
	margin-bottom: 1rem;
}

@media only screen and (max-width:767px) {
	.form-style-5{
		max-width: 15rem;
		margin: 0rem auto;
		margin-top: 0px;
		padding: 0.5rem;
		padding-top: 5.5rem;
		border: none;
	}

	.form-style-5 legend {
		font-size: 1.4em;
		margin-bottom: 1rem;
	}
	.form-style-5 label {
		display: block;
		margin-bottom: 0.5rem;
	}
	.form-style-5 input[type="text"],
	.form-style-5 input[type="email"],
	.form-style-5 input[type="number"]
	{
		border: none;
		border-radius: 0.3rem;
		font-size: 15px;
		padding: 0.6rem;
		width: 100%;
		background-color: #e8eeef;
		color:black;
		margin-bottom: 2rem;
	}

	.form-style-5 input[type="submit"]
	{
		display: block;
		color: black;
		border: none;
		padding: 0.6rem 0.7rem;
		border-radius: 0.25rem;
		background-color: #F2C965;
		margin: 0 auto;
		font-size: 18px;
		text-align: center;
		font-style: normal;
		margin-bottom: 1rem;
	}
}
