.home{
    background-color: #EAEDED;
    position: relative;
    min-height: 100vh;
}

.home__row {
    display: flex;
    z-index: 1;
    margin-left:0.3rem;
    margin-right: 0.3rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
}

.search__badge {
    display: flex;
    z-index: 1;
    margin-left:0.6rem;
    border-radius: 1rem;
    background-color: white;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    min-width: 6rem;
    padding-right: 1rem;
}

.no__product__banner {
    display: flex;
    z-index: 1;
    font-size: 18px;
    font-weight: bolder;
    text-align: center;
}
.home__row__cst{
    display: flex;
    z-index: 1;
    margin-left:0.3rem;
    margin-right: 0.3rem;
    justify-content: center;
    /* padding-top: 50px;
    padding-bottom: 50px; */
}

.no__product__footer{
    position:absolute;
    bottom:0;
    width:100%;
    z-index:0;
}

.close__btn{
    cursor: pointer;
}

.footer {
    margin-top: 1rem;
}

@media only screen and (max-width:992px){
    .footer {
        margin-top: 10rem;
    }
}

@media only screen and (max-width:767px) {
    .home__row {
        display: flex;
        z-index: 1;
        margin-left:0.3rem;
        margin-right: 0.3rem;
        padding-left: 0.6rem;
        padding-right: 0.6rem;
        /* flex-wrap: wrap; */
        /* justify-content: center; */
    }
    .no__product__footer{
        position:absolute;
        bottom:0;
        width:100%;
        z-index:0;
        margin-bottom: -20rem;
    }

    .no__product__banner {
        display: flex;
        z-index: 1;
        font-size: 18px;
        font-weight: bolder;
        text-align: center;
        padding-top: 2rem;
    }
}
