.form-style-5__login{
	max-width: 20rem;
	margin: 1.4rem auto;
	padding: 1.4rem;
	border-radius: 0.7rem;
  	padding-top: 20px;
	border: 1px #D4D4D4 solid;
	padding-right: 2.5rem;
}

.form-style-5__login legend {
	font-size: 1.4em;
	margin-bottom: 10px;
}
.form-style-5__login label {
	display: block;
	margin-bottom: 0.5rem;
}
.form-style-5__login input[type="text"],
.form-style-5__login input[type="email"],
.form-style-5__login input[type="password"],
.form-style-5__login input[type="number"]
{
	/* background: rgba(255,255,255,.1); */
	border-color: grey;
	border-width: thin;
	border-radius: 0.3rem;
	font-size: 13px;
	padding: 0.6rem;
	width: 100%;
	/* background-color: #e8eeef;
	color:#8a97a0; */
	margin-bottom: 2rem;
}

.form-style-5__login input[type="submit"]
{
	display: block;
	color: black;
	border: 1px solid black;
	padding: 0.1rem 0.9rem;
	background-color: #F2C965;
	margin: 0 auto;
	font-size: 15px;
	text-align: center;
	font-style: normal;
	margin-bottom: 1rem;
	cursor: pointer;
	border-radius: 0.2rem;
}


.register__btn{
	display: block;
	margin: 0 auto;
	text-align: center;
}

.form-style-5__login > p{
	padding-top: 0.5rem;
	padding-bottom: 0.8rem;
	font-size: 13px;
}

.form-style-5__login > img{
	display: block;
	margin: 0 auto;
	object-fit: contain;
	height:2rem;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}

.login__main > p {
	display: block;
	margin: 0 auto;
	text-align: center;
}

.or__text {
	display: block;
	margin: 0 auto;
	text-align: center;
}

.sample__btn {
	display: block;
	margin: 0 auto;
	text-align: center;
	margin-top: 1.5rem;
	background-color:  #F2C965;
	border: thin solid black;
	color: black;
	padding: 0.3rem 0.6rem;
	border-radius: 0.2rem;

}
