.product__home {
    background-color: #EAEDED;
    position: relative;
    min-height: 100vh;
    padding-top: 6rem;
}

.category__home__row {
    display: flex;
    z-index: 1;
    margin-left:0.3rem;
    margin-right: 0.3rem;
    padding-left: 0.6rem;
}

.category__home__row__text {
    display: flex;
    z-index: 1;
    margin-left:0.3rem;
    margin-right: 0.3rem;
    padding-left: 1.2rem;
    font-size: 20px;
    font-weight: bold;
}
