.add__card {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0.6rem;
    padding: 0.6rem;
    width: 100%;
    min-height: 22rem;
    max-width: 20rem;
    min-width: 3rem;
    z-index: 1;
}

.add__seeMore {
    flex: 2;
    text-decoration: none;
    color: rgb(41, 150, 184);
}

.add__imgGrp {
    flex: 2;
    justify-content: center;
    /* padding-left: 0.5rem; */
    /* padding-right: 1rem; */
    /* width: 285p; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

}

.add__img {
    padding-left:0.3rem;
    padding-right: 0.3rem;
    padding-bottom: 0.6rem;
    /* width: 125px;
    height: 100px; */
    max-width: 37%;
}

.add__title {
    flex: 1;
    font-size: 19px;
    font-weight: 600;
    text-align: center;
}

@media only screen and (max-width:992px) {
    .add__card {
        margin: 0.6rem;
        padding: 0.6rem;
        min-height: 14.5rem;
        max-width: 15rem;
        min-width: 4rem;
    }

    .add__seeMore {
        flex: 2;
        text-decoration: none;
        color: rgb(41, 150, 184);
    }

    .add__imgGrp {
        flex: 2;
    }

    .add__img {
        padding-left:0.2rem;
        padding-right: 0.2rem;
        padding-bottom: 0.3rem;
        max-width: 37%;
    }

    .add__title {
        flex: 1;
        font-size: 14px;
        font-weight: 600;
        text-align: center;
    }
}

@media only screen and (max-width:767px)  {

    .add__card {
        margin: 0.3rem;
        padding: 0.3rem;
        min-height: 11.5rem;
        max-width: 15rem;
        min-width: 4rem;
    }

    .add__seeMore {
        flex: 2;
        text-decoration: none;
        color: rgb(41, 150, 184);
        font-size: 12px;
    }

    .add__imgGrp {
        flex: 2;
    }

    .add__img {
        padding-left:0.2rem;
        padding-right: 0.2rem;
        padding-bottom: 0.3rem;
        max-width: 38%;
    }

    .add__title {
        flex: 1;
        font-size: 12px;
        font-weight: 600;
        text-align: center;
    }
}
