.EmptyCard {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 100%;
  min-height: 4rem;
  z-index: 1;
}

.EmptyCard__title {
  font-size: 25px;
}
