.footer__top {
  text-align: center;
  color: white;
  background-color: #37475A;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: 400;
}

.footer__top > p {
    cursor: pointer;
}

.footer__center__1 {
  display: flex;
  color: white;
  background-color: #232F3E;
  justify-content:space-around;
  padding: 3rem;
  /* padding-left: 6rem;
  padding-right: 6rem; */
}

.footer__heading {
  font-size: 17px;
  font-weight: 600;
  padding-bottom: 1rem;
}

.footer__para {
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 0.5rem;
}

@media only screen and (max-width:767px) {

    .footer__center__1 {
      display: flex;
      color: white;
      background-color: #232F3E;
      justify-content:space-around;
      padding: 2rem;
      /* padding-left: 6rem;
      padding-right: 6rem; */
    }

    .footer__heading {
      font-size: 14px;
      font-weight: 600;

      padding-bottom: 1rem;
    }

    .footer__contents{
         padding-left:0.5rem;
    }

    .footer__para {
      font-size: 12px;
      font-weight: 400;
      padding-bottom: 0.5rem;
    }

}
