a {
    text-decoration: none;
    color: white;
}

.navbar{
    display: flex;
    flex-direction: row;
    color: white;
    background-color: #131921;
    align-items: center;
    padding: 1rem;
    position: fixed;
    z-index: 11;
    width: 100%;
}

.navbar > img {
    /* height: 40px; */
    max-height: 2.2rem;
    object-fit: contain;
    flex: 1;
    /* padding-right: 10px; */
    /* margin-left: -30px; */
    cursor: pointer;
}

.search__bar {
    flex: 3;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 1rem;
}

.search__bar > input {
    height: 1rem;
    outline: none;
    color: #111;
    width: 100%;
    padding: 7px 10px 10px 10px;
    border-top-left-radius: 0.2rem;
    border-bottom-left-radius: 0.2rem;
    border: none;
    margin-bottom: 0.3rem;
}

.search__icon {
    background-color: #F2C965;
    color: #131921;
    padding: 0.25rem;
    border-top-right-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
    padding-top: 0.3rem;
    margin-bottom: 0.3rem;
    padding-bottom: 0.2rem;
    cursor: pointer;
}

.gosearch__icon {
    font-size: 1.3rem;
}
.navbar__right {
    flex: 2;
}

.navbar__right__in {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-around;
}

.navbar__signin{
    /* flex: 3; */
}

.navbar__login{
    /* flex: 3; */
    cursor: pointer;
    user-select: none;
}

.navbar__cart{
    /* flex: 1; */
    display: flex;
    flex-direction: column;
    padding-right: 1rem;
}

.cart__items {
    color: #F2C965;
    font-weight: 800;
    margin-top: -0.2rem;
    margin-bottom: -0.6rem;
    padding-left: 0.8em;
}

.cart__icon {
    font-size: 2rem;
}


.openbtn {
  font-size: 1.5em;
  cursor: pointer;
  background-color: #131921;
  color: white;
  padding: 0.5rem;
  border: none;
  z-index: 0;
}

.openbtn:hover {
  background-color:#444;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #131921;
  min-width: max-content;
  /* width: 100%; */
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2z);
  z-index: 1;
  margin-top:1.9rem;
  border: solid white;
  border-width: thin;
}

.dropdown__link{
  color: white;
  padding: 1rem;
  text-decoration: none;
  display: block;
}

.dropdown__link:hover {
    background-color: #232931;
}

.show {display: block;}

@media only screen and (max-width:992px) {
    .navbar > img {
        max-height: 1.6rem;
    }

    .openbtn {
      font-size: 1.3em;
      padding: 0.1rem;
    }

    .search__bar {
        flex: 2;
        padding-right: 0.7rem;
    }

    .search__icon {
        padding: 0.25rem;
        border-top-right-radius: 0.2rem;
        border-bottom-right-radius: 0.2rem;
        margin-bottom: 0.3rem;
        padding-bottom: 0.25rem;
        cursor: pointer;
    }

    .search__bar > input {
        height: 1rem;
    }

    .navbar__right {
        flex: 2;
    }

    .navbar__cart{
        padding-right: 0.8rem;
    }

    .cart__items {
        font-weight: 700;
    }

    .dropdown-content {
      margin-top:1.69rem;
    }
}

@media only screen and (max-width:767px) {

    .navbar{
        padding-left: 0.4rem;
    }

    .mobile-hidden{
        display: none;
    }

    .navbar > img {
        display: none;
    }

    .search__bar {
        flex: 15;
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-grow: 10;
        /* padding-right: 0.5rem; */
        padding-left: 1rem;
    }

    .search__bar > input {
        height: 0.8rem;
        border-top-left-radius: 0.3rem;
        border-bottom-left-radius: 0.3rem;
    }

    .search__icon {
        /* padding: 0.5rem; */
        border-top-right-radius: 0.3rem;
        border-bottom-right-radius: 0.3rem;
        padding-top: 0.29rem;
        padding-bottom: 0.12rem;
        padding-left: 0.4rem;
        padding-right: 0.4rem;
    }

    .gosearch__icon {
        font-size: 1.2rem;
    }
    .navbar__right {
        /* flex: 1; */
        margin-top: -0.7rem;
    }

    .navbar__cart{
        padding-right: 1rem;
    }

    .cart__icon {
        font-size: 2rem;
    }

    .openbtn {
      font-size: 1.5em;
      color: white;
      padding: 0.5rem;
    }

}
