.product__card {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0.6rem;
    padding: 0.6rem;
    width: 100%;
    /* max-width: 400px;
    min-width: 100px; */
    min-height: 25rem;
    max-width: 20rem;
    min-width: 3rem;
    /* max-height: 3rem; */
    z-index: 1;
}

.product__card > img {
    /* max-height:130px; */
    height: 10rem;
    max-width: 12rem;
    min-width: 1rem;
    flex:2;
    object-fit: contain;
    margin-bottom: 1rem;
}

.product__addToCart {
    /* flex: 1; */
    background-color: #F2C965;
    border: 1px solid;
    margin-top: 0.5rem;
    color: black;
    cursor: pointer;
}

.product__title {
    flex: 1;
    font-size: 19px;
    font-weight: 600;
    padding-top: 0.6rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    /* padding-bottom: 10px; */
}

.product__modal {
    padding: 2rem;
    /* display: flex; */
    text-align: center;
}

.product__addtocart__login {
    text-decoration: none;
    color: black;
    padding: 0.5rem;
    border-radius: 0.3rem;
    background-color: #f0c14b;
    justify-content: center;
    border: thin black solid;
}

.product__modal__title{
    padding: 2rem;
}

.product__details {
    text-align: center;
    flex: 1;
}

@media only screen and (max-width:992px) {
    .product__card {
        margin: 0.6rem;
        padding: 0.6rem;
        min-height: 14.5rem;
        max-width: 15rem;
        min-width: 4rem;
        /* max-height: 400px; */
    }

    .product__card > img {
        /* max-height:130px; */
        height: 5.5rem;
        max-width: 9rem;
        min-width: 1rem;
        flex:2;
        object-fit: contain;
        margin-bottom: 1rem;
        padding-top: 0.6rem;
    }

    .product__addToCart {
        /* flex: 1; */
        background-color: #F2C965;
        border: 1px solid;
        margin-top: 0.5rem;
        color: black;
        cursor: pointer;
    }

    .product__title {
        flex: 2;
        font-size: 14px;
        font-weight: 600;
    }

    .product__modal {
        padding: 1rem;
    }

    .product__addtocart__login {
        text-decoration: none;
        color: black;
        padding: 0.5rem;
        border-radius: 0.3rem;
        border: thin black solid;
    }

    .product__modal__title{
        padding: 1.5rem;
    }

    .product__details {
        text-align: center;
        flex: 1;
        padding-bottom: 0.6rem;
    }
}

@media only screen and (max-width:767px) {
    .product__card {
        margin: 0.3rem;
        padding: 0.3rem;
        min-height: 14.5rem;
        max-width: 14rem;
        min-width: 4rem;
        /* max-height: 400px; */
    }

    .product__card > img {
        /* max-height:130px; */
        height: 5rem;
        max-width: 9rem;
        min-width: 1rem;
        flex:2;
        object-fit: contain;
        margin-bottom: 1rem;
        padding-top: 0.6rem;
    }

    .product__addToCart {
        /* flex: 1; */
        background-color: #F2C965;
        border: 1px solid;
        margin-top: 0.5rem;
        color: black;
        cursor: pointer;
    }

    .product__title {
        flex: 2;
        font-size: 12px;
        font-weight: 600;
    }

    .product__modal {
        padding: 1rem;
    }

    .product__addtocart__login {
        text-decoration: none;
        color: black;
        padding: 0.5rem;
        border-radius: 0.3rem;
        border: thin black solid;
    }

    .product__modal__title{
        padding: 1.5rem;
    }

    .product__details {
        text-align: center;
        flex: 1;
        padding-bottom: 0.6rem;
    }
}
