.subtotal__card {
  background-color: white;
  padding: 2rem;
  margin-top: 0.6rem;
  display: flex;
  flex-direction: column;
}

.sub__totalPrice {
  background-color: white;
  padding: 1rem;
  display: flex;
  padding-bottom: 1rem;
  flex-direction: row;
}

.subtotal__btn {
  background-color: #F2C965;
  padding: 0.3rem;
  border: thin solid black;
  border-radius: 0.2rem;
  outline: none;
}

.subtotal__btn:hover {
  cursor: pointer;
}
